*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1366px;
    margin: 0 auto;

    height: auto;
}
header{
    height: 60px;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    background-color: white;
}
header .gio_hang{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
}
header .nut_dk_dn{
    height: 30px;
    width: 100px;
    outline: none;
    border: 2px solid #08672A;
    border-radius: 10px;
    background-color: white
}
header #nut .nut_dk_dn:hover a{
    color: white;
}
header .nut_dk_dn:hover{
    background-color: #08672A;
}

#nut {
    display: flex;
    justify-content: space-around;
    width: 250px;
}
#nut a{
    text-decoration: none;
    color: #08672A;
}
nav{
    height: 40px;
    width: 100%;
    background-color: #08672A;
    
}
nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}
nav>ul>li{
    height: 34px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
nav>ul>li>a:hover{
   background-color: white;
   color: #08672A;
   border-radius: 10px 10px 0 0;
}
nav>ul>li>a{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
nav>ul #menu_danhMuc{
    color: #08672A;
    text-align: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-left: 10px;
    position: relative;
}
nav>ul>li>ul{
    display: none;
    
}
nav>ul>li:hover>ul{
    display: block;
    position: absolute;
    top: 34px;
    border: 2px solid;
    text-decoration: none;
    width: 200px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    list-style: none;
}
nav>ul>li>ul>li{
    padding: 10px;
    position: relative;
}
nav>ul>li>ul>li:hover{
    background-color: #08672970;
}
nav>ul>li>ul>li>a{
    color: #08672A;
    text-decoration: none;
    
}
nav>ul>li>ul>li>ul{
    display: none;
}
nav>ul>li>ul>li:hover>ul{
    display: block;
    position: absolute;
    left: 203px;
    top: 4px;
    border: 2px solid ;
    width: 170px;
    border-radius: 10px;
    background-color: white;
    list-style: none;
}
nav>ul>li>ul>li>ul>li{
    padding: 10px;
}
nav>ul>li>ul>li>ul>li:hover{
    background-color: #08672970;
}
nav>ul>li>ul>li>ul>li>a{
    text-decoration: none;
    color: #08672A;
}
.banner{
    height: 400px;
    width: 93%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

}

.banner .banner_1{
    width: 73%;
    height: 100%;
    margin-right: 19px;
    border: 1px solid #08672A;
}
.banner .banner_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27%;
    height: 100%;
    
}

.banner .banner_2 img{
    width: 100%;
    height: 100%;
}
.banner .banner_1 img{
    width: 100%;
    height: 100%;
}
.banner .banner_2 .banner_2_con{
    height: 48%;
    width: 100%;
    border: 1px solid #08672A;
}
 /* Danh Mục */
 .danh_muc_banner_buttom{
    background-color: white;
    width: 93%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    padding: 10px;
 }
 .danh_muc_banner_buttom >a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
 }
 .danh_muc_banner_buttom >a img{
    height: 60px;
    border-radius: 30px;
    width: 70px;
 }
 .danh_muc_banner_buttom >a>p{
    margin-top: 20px;
 }
.top_sp{
    width: 94%;
    height: 170px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
}
.top_sp>h1{
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top_sp .danh_muc_banner_buttom2{
    background-color: white;
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
 }
.top_sp .danh_muc_banner_buttom2 >a img{
    height: 60px;
    border-radius: 30px;
    width: 70px;
 }
.top_sp .danh_muc_banner_buttom2 >a>p{
    margin-top: 20px;
 }
 .danh_muc_banner_buttom2 >a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
 }
 
 /* sản phâmr */
.all_san_pham{
    width: 93%;
    border-radius: 10px;
    height: auto;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    background-color: white;
    padding: 10px;
    
}

.all_san_pham h1{
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.san_pham{    
    display: flex;
    justify-content: center;  
    justify-content: space-around;
}
.san_pham  .san_pham_con a img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.san_pham .san_pham_con {
    width: 22%;
    border: 1px solid #08672A;
    margin: 7px;
    border-radius: 10px;
    height: auto;
    
}
.san_pham .san_pham_con a{
    text-decoration: none;
    color: black;
}
.san_pham .san_pham_con a >article{
    height: 50%;
}
.san_pham .san_pham_con a .content_san_pham{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.san_pham .san_pham_con .content_san_pham >p{
    font-size: 20px;
}
.san_pham .san_pham_con .content_san_pham .gia_vs_dvt{
    display: flex;
    justify-content: space-between;
}
.san_pham .san_pham_con .content_san_pham .danhGia_soLuongBan{
    display: flex;
    justify-content: space-between;
}
.san_pham .san_pham_con .content_san_pham .danhGia_soLuongBan>div>i{
    color: yellow;
}
.san_pham .san_pham_con:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    transition: all 0.5s ease;
    transform: scale(1.03);
}
.section_hot_banner{
    height: 100px;
    width: 97%;
    margin: 0 auto;
}
.section_hot_banner img{
    height: 100%;
    width: 100%;
}

.section_hot_banner :hover{
    transform: scale(0.95);
    transition: all 0.75s ease;
}
.section2_hot_banner{
    margin: 35px auto;
    height: 220px;
    width: 97%;
    display: flex;
    justify-content: space-around;
}
.section2_hot_banner article{
    width: 30%;
    height: 100%;
}
.section2_hot_banner img{
    height: 100%;
    width: 100%;
}
.section2_hot_banner article :hover{
    transform: scale(0.95);
    transition: all 0.5s ease;
}
.thuongHieu{
    height: 200PX;
    width: 93%;
    margin: 10px auto;
}
.thuongHieu >h1{
    font-size: 20px;
}
.thuongHieu .img_thuongHieu{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.thuongHieu .img_thuongHieu >article >img{
    max-height: 80px;
    max-width: 200px;
}
.tintuc{
    width: 93%;
    height: 400px;
    margin: 20px auto;
}
.tintuc >h1{
    margin-bottom: 20px;
    font-size: 20px;
}
.tintuc .new{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.tintuc .new a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 24%;
}
.tintuc .new a .new_con{
    height: 100%;

}
.tintuc .new a .new_con img{
    height: 50%;
    width: 100%;
}
.tintuc .new>a .new_con>h1{
    margin-bottom: 5px;
}
.tintuc .new>a .new_con>h1:hover{
    color: #08672A;
}
.tintuc .new>a .new_con>span{
    height: 5px;
    font-size: 9px;
}
.tintuc .new>a .new_con .connet{
    font-size: 13px;
}
.tintuc .new>a .new_con .docthem{
    font-size: 16px;
    color: #08672A;
    margin-top: 5px;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    background-color: #d9d9d981;
}
footer .colump1{
    width: 45%;
    background-color: rgba(255, 255, 0, 0.116);
    padding-left: 40px;
    padding-top: 20px;
}
footer .colump1>p{
    margin-bottom: 10px;
}
footer .colump1 >img{
   width: 110px;
   height: 60px;
   margin-bottom: 10px;
}
footer .colump2{
    width: 20%;
    padding-left: 40px;
    padding-top: 20px;
}
footer  strong{
    font-size: 19px;
}
footer .colump3{
    width: 40%;
    padding-left: 20px;
    padding-top: 20px;
}
footer .colump3>p{
    margin-bottom: 10px;
}
footer .colump3 form{
    display: flex;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 40px;
}
footer .colump3 iframe{
    height: 200px;
    width: 300px;
}
footer .colump3 form >input{
    height: 100%;
    padding-left: 10px;
    padding-right: 40px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
}
footer .colump3 form >button{
    height: 100%;
    width: 100px;
    padding-left: 20px ;
    padding-right: 20px;
    border-radius: 0 10px 10px 0;
    background-color: rgba(255, 255, 0, 0.568);
    border: none;
}
